[class*="start-quiz-"] {
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 2.5em;
  width: 4em;
  text-align: center;
  background-color: green;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: green;
    color: #ffffff;
  }
  &:focus {
    outline: none;
  }
}

.card-quiz {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 20px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
}
.quiz-name {
  background-color: #808080;
  color: #ffffff;
  height: "5em";
  padding: 3px;
}

.question {
  border: 1px solid #eee;
  box-shadow: 0 1px 1px #ccc;
  padding: 15px;
  background-color: #ffffff;
}

.quiz-option {
  border: 1px solid #eee;
  box-shadow: 0 1px 1px #ccc;
  padding: 1px;
  background-color: #dcdcdc;
}

.quiz-value {
  border: 1px solid #eee;
  box-shadow: 0 1px 1px #ccc;
  padding: 1px;
  background-color: #ffffff;
}

.react-overlay-loader-spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -30px;
  margin-left: -20px;
  border-radius: 50%;
  border: 3px solid #eee;
  border-top: 3px solid green;
  border-bottom: 3px solid blue;
  animation: react-overlay-loader-spinner 0.8s linear infinite;
}
